@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');



body {
    background-color: black;
    min-height: 800px;
    font-family: 'VT323', monospace;
}

div, footer, td, p {
    
    color: white;
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
    font-size: large;
}


#mainGrid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#header {
    grid-column: 1/12;
    grid-row: 1/2;
    text-align: center;
    font-size: xx-large;
}


#menuGrid {
    grid-column: 2/11;
    grid-row: 2/10;
}

#automaticMenu {
    grid-column: 2/6;
    grid-row: 3/10;
}

#manualMenu {
    grid-column: 7/11;
    grid-row: 3/10;
}
 
footer {
    grid-column: 1/12;
    grid-row: 10/11;
    text-align: center;
}







